<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
    
    <script type="text/javascript" src="appchange.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<!-- Add Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
  
  </head>
<body>

<div class="container-fluid">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#loginOption">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img class="img-responsive" src="images/logo.png" id="logo" alt="logo"></a>
        </div>
        <div class="row">
        <div class="col-sm-6 collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#section4">About Us</a></li>
            <li><a href="goHealthy.html">Go Healthy</a></li>
            <li><a href="bookATable.html">Book A Table</a></li>
            <li><a href="orderOnline.html">Order Online</a></li>
          </ul>
        </div>
        <div class="col-sm-6 collapse navbar-collapse pull-right" id="loginOption">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          </ul>
        </div>
        </div>
      </div>
    </nav>
</div>
	
<div class="container" style="margin-top:100px; background-size:cover;">
	<div class="row">
		<div class = "col-md-10">
			
				<img src="images/desert.jpg">
			
			</div>
	</div>
</div>
<div class="container" style="padding:30px">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
				<div ng-controller="MyCtrl">
					<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
							<form name="helpForm" novalidate role="form" ng-class="{'submitted': submitted}" ng-submit="save()">
								<div class="form-group">
									<span class="glyphicon glyphicon-user"></span>
									  <label for="name">Your Name </label>
									  <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
									  <input type="text" name="name" data-ng-model="name" class="form-control" required />
									</div>{{submitted}}

    <div class="form-group">
		<span class="glyphicon glyphicon-envelope"></span>
      <label for="email">Your E-mail address</label>
      <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Required!</span>
      <span class="label label-danger" data-ng-show="submitted && helpForm.$error.email">Invalid email!</span>
      <input type="email" name="email" data-ng-model="email" class="form-control" required />  
    </div>

    <div class="form-group">
	<span class="glyphicon glyphicon-list"></span>
      <label for="subjectList">HOW CAN WE HELP YOU?</label>
      <span class="label label-danger" data-ng-show="helpForm.subjectList.$error.required">Required!</span>
      <select name="type" ng-model="payment.type" ng-dropdown required ng-change="changeme()" >
            <option ng-option value="Cash">I need help with my Zomato online order.</option>
            <option ng-option value="Check">I need some help with my blog.</option>
            <option ng-option value="Money Order">The website/app are not working the way they should.</option> 
         </select>
    </div>
	<div class="col-xs-12">
      <label class="col-xs-6 control-label">TYPE</label>
      <div class="col-xs-6">
         <select name="type" ng-model="payment.type" ng-dropdown required ng-change="changeme()" >
            <option ng-option value="Cash">REQUEST</option>
            <option ng-option value="Check">SUPPORT</option>
            <option ng-option value="Money Order">COMPLAINT</option> 
         </select>
      </div>
   </div>
   <div class="col-xs-12" id="cash" ng-if="payment.type == 'Cash'">
      <div >
         <label class="col-xs-6 control-label"> We will respond in 2 days. Can you wait? </label>
         <div class="col-xs-6">
            <input type="text" class="form-control"  ng-model="payment.cash"    />
         </div>
      </div>
    </div>

    <div class="col-xs-12" id="check" ng-if="payment.type == 'Check'">
      <div >
         <label class="col-xs-6 control-label"> Do you want a change it?</label>
         <div class="col-xs-6">
            <input type="text" class="form-control"  ng-model="payment.check"    />
         </div>
      </div>
    </div>

    <div class="col-xs-12" id="money_order" ng-if="payment.type == 'Money Order'">
      <div >
         <label class="col-xs-6 control-label">Have you tried reloading it?</label>
         <div class="col-xs-6">
            <input type="text" class="form-control"  ng-model="payment.money_order"    />
         </div>
      </div>
    </div>
	


    <div class="form-group">
	<label for="url">URL of Relevant Page</label>
      <label for="url">URL of Relevant Page</label>
      <span class="label label-danger" data-ng-show="submitted && helpForm.$error.url">Invalid URL format!</span>
      <input type="url" name="url" data-ng-model="url" class="form-control" />
    </div>

    <div class="form-group">
	<span class="glyphicon glyphicon-pencil"></span>
      <label for="comments">MESSAGE</label>
      <span class="label label-danger" data-ng-show="submitted && helpForm.comments.$error.required">Required!</span>
      <textarea name="comments" data-ng-model="comments" class="form-control" required></textarea>
    </div>

    <button  type="submit" data-ng-disabled="progress.active()" data-ng-click="submitted= true;" class="btn btn-default">Submit</button>
  </form>
 </div>
 </div>
 </div>
 
	<div class="col-md-4">
						<div class="panel panel-danger">
								<div class="panel-heading">
										<h3 class="text-center">SERVICES</h3>
										<p class="text-center">Why not check our latest blogs on food. Good food.</p>
								</div>
								
								<ul class="list-group list-group-flush text-center">
		
										<li class="list-group-item">
												<span class="glyphicon glyphicon-heart"></span> Fantastic Support
										</li>
								</ul>
								<div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#food">TRY NOW</a> </div>
						</div>
						
						<div class="panel panel-warning">
								<div class="panel-heading">
										<h3 class="text-center">MAIL US!</h3>
										<p class="text-center">Gourmet food around thw world..all in one page</p>
								</div>
								
								<ul class="list-group list-group-flush text-center">
										
										<li class="list-group-item">
												<span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
										</li>
										
								</ul>
								<div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#taste">MAIL US</a> </div>
						</div>
 </div>
 </div>
 <div id="googleMap" style="height:400px;width:100%;"></div>


 
 <script>

var myCenter = new google.maps.LatLng(41.878114, -87.629798);

function initialize() {
var mapProp = {
center:myCenter,
zoom:12,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);

$(document).ready(function(){
   $("#myBtn").click(function(){
       $("#myModal").modal();
   });
});


</script>
<style>
.submitted .ng-invalid{
    border: 1px solid red;
	background-color: #FFEBEE;
}

    .glyphicon {
        font-size: 20px;
        color: #36A0FF;
    }
	
	.panel {

    transition: padding 0.5s;
    -moz-transition: padding 0.5s; /* Firefox 4 */
    -webkit-transition: padding 0.5s; /* Safari and Chrome */
    -o-transition: padding 0.5s; /* Opera */
    -ms-transition:padding 0.5s; /* IE9 (maybe) */ 	
  
}

.panel:hover {
	padding:10px;
}
</style>

</body>
</html>
